name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'srv/**'  # Triggers the workflow only when files inside ./srv are changed
  pull_request:
    branches: [ "main" ]
    paths:
      - 'srv/**'  # Triggers the workflow only when files inside ./srv are changed

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./srv/package-lock.json

    - name: Install and Test
      working-directory: ./srv
      run: |
        npm ci  # Install dependencies
        npm test  # Run tests
